@import './_custom-colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html,
body,
#root {
  min-height: 100vh;
  font-family: Roboto, 'sans-serif';
}

.p-relative {
  position: relative;
}

a {
  &:hover {
    text-decoration: none;
  }
}
